html
    head
        style
            include style.css
    body
        div
            |Hello dear friend
        div
            block content
        div.footer
            |Best regards
            br
            a(href=frontendURL) MAR course Mode.js