html
    head
        style
            include style.css
    body
        div
            |Hello dear friend
            br
            | 57 packages are looking for funding run `npm fund` for details
            p added 1 package, and audited 184 packages in 821ms 14 packages are looking for funding run `npm fund` for details
        div
            block content
        div.footer
            |Best regards
            br
            a(href=frontendURL) MAR course Mode.js