extends contaner

block content
    div
        h1 You have successfully created Car:
            br
            |- #{model}
            br
            |- #{year}
            br
            |- #{price}