extends contaner

block content
    div
        h1 You have successfully created user:
            br
            | - #{name}
            br
            | - #{age}
            br
            | - #{email}
